<h2>Edit Author</h2>

<form action="/myprofile?_method=PUT">
    
    
    <label>Name <input type="text" name=name> </label>
    

    <label>Age <input type="text" age=age> </label>
    

    <label>Bio <input type="text" bio=bio> </label>
    

    <a href="/myprofile">Cancel</a>
    <button type="submit">Update</button>
</form>