<h2>Edit Profile</h2>

<form action="/myprofile" method="POST">
    
    
    <label>Name <input type="text" name=name> </label>
    

    <!-- <label>Age <input type="text" id=age> </label>
    

    <label>Bio <input type="text" id=bio> </label> -->
    

    <a href="/myprofile">Cancel</a>
    <button type="submit">Update</button>
</form>