<h2>Edit Profile</h2>

<form action="/myprofile/:id" method="POST" enctype="multipart/form-data">
    
    <label>Profile picture <input name=profilepicture type="file" accept="image/.png, image/.jpeg, image/.jpg"></label>

    <label>Name <input type="text" name=name> </label>
    

    <label>Age <input type="text" name=age> </label>
    

    <label>Bio <input type="text" name=bio> </label>
    

    <a href="/myprofile">Cancel</a>
    <button type="submit">Update</button>
</form>