*{
    box-sizing: border-box;
}

/* navigation */
ul{
    list-style-type: none;
    display: flex;
    /* justify-content: center; */
    max-width: 50%;
    height: 10%;
    margin: 2em auto 0 auto;
}

li{
    margin: 0 auto;
    
}

.nav{
    max-height: 3em;
}



/* page title */
h1{
    color: #484E5D;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px #CCD0D7;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* responsive with grid */
#container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 1.5em;
    justify-items: center;
}

.user{
    border-radius: 5%;
    background-color: #CCD0D7;
    max-width: 15em;
    height: 100%;
    box-shadow: 5px 5px 5px #E9E9E9;
    padding: 24px;
}


/* profiles styles */
.profileIMG{
    display: block;
    max-width: 100%;
    margin: 0 auto 0 auto;
}


.linkProfile{
    text-decoration: none;
    color: #484E5D;
}


.username::first-letter{
    text-transform: uppercase;
}

.username{
    color: #484E5D;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    /* margin-left: 24px; */
    /* text-align: center; */
}

.bio{
    /* margin-left: 24px; */
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
}

.test{
    display:flex ;
    justify-content: center ;
    vertical-align: top;
    align-items: center;
    /* position: relative; */
}

.redirect{
    margin: 1em auto 0 auto;
    background-color: transparent;
    border: none;
}

.dislike, .like{
    width: 3em;
}

.interests{
    /* margin-left: 24px; */
    width: 192px;
}

.grid{
   display: inline-grid;
   grid-template-rows: 1fr;

}


.grid p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    margin: 0 .5em 1em 0;
    border-radius: 5%;
    border: 1px solid #fff;
    width: auto;
    padding: 0 5px 0 5px;
}





/* profile css */

.profileContainer{
    border-radius: 5%;
    background-color: #CCD0D7;
    width: 408px;
    height: 100%;
    box-shadow: 5px 5px 5px #E9E9E9;
    padding: 24px;
    margin: 0 auto 0 auto;
}

#profilePicture{
    max-width: 100%;
    display: block;
    margin: 0 auto 0 auto;
}

.interestsProfile{
    width: 360px;
}
